
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>PDF Raporları Sayfası</h2>

<a href="/PdfReport/StaticPdfReport/" class="btn btn-outline-info">Statik Pdf Raporu</a>
<br />  <br />
<a href="/PdfReport/StaticCustomerReport/" class="btn btn-outline-primary">Statik Misafir Pdf Raporu</a>


