@model List<DTOLayer.DTOs.AnouncementDTOs.AnouncementListDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyuru Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>/</th>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AnnouncementID</td>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td> <a href="/Admin/Anouncement/DeleteAnouncement/@item.AnnouncementID" class="btn btn-outline-danger">Sil</a> </td>
            <td> <a href="/Admin/Anouncement/UpdateAnouncement/@item.AnnouncementID" class="btn btn-outline-success">Güncelle</a> </td>
            <td> <a href="/" class="btn btn-outline-dark">Detaylar</a> </td>

        </tr>

    }
</table>

<a href="/Admin/Anouncement/AddAnouncement/" class="btn btn-outline-primary">Yeni Duyuru Ekle</a>