@model VisitorViewModel
@{
    ViewData["Title"] = "AddVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api İle Ziyaretci Ekleme</h1>

<br/>

<form method="post">
    <label>Ziyaretci Adı</label>
    <input type="text" class="form-control" asp-for="Name"/>
    <br />
    <label>Ziyaretci Soyadı</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <br />
    <label>Ziyaretci Mail</label>
    <input type="text" class="form-control" asp-for="Mail" />
    <br />
    <label>Ziyaretci Şehri</label>
    <input type="text" class="form-control" asp-for="City" />
    <br />
    <label>Ziyaretci Ülkesi</label>
    <input type="text" class="form-control" asp-for="Country" />
    <br />
    <button class="btn btn-outline-info">Ziyaretciyi Kaydet</button>
</form>

